.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginFormBox {
    border: solid black 5px;
    border-radius: 15px !important;
    -webkit-box-shadow: 7px 8px 8px -3px rgba(0,0,0,0.86); 
    box-shadow: 7px 8px 8px -3px rgba(0,0,0,0.86);
    background-color: #02353f67;
    margin-bottom: 50px;
    padding-bottom: 15px;
    padding-top: 10px;
    text-align: center;
    width: 50%;
}

.loginFormControl {
    margin: 10px !important;
    text-align: center !important;
    color: #c6983a !important;
    border-color: #c6983a !important;
}

.loginFormInput {
    color: #c6983a !important;
}

.loginFormButton {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}


.loginTitle {
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    color: #c6983a;
    text-shadow: 3px 5px 3px #000000;
}

.loginFormHelperText {
    color: #c6983a !important;
    font-weight: 1000 !important;
}

.loginFormInputLabel {
    color: #c6983a !important;
    font-family: FrizQuadrataStdMedium !important;
    font-size: 19px !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #c6983a !important;
    border-width: 3px !important;
}

.btnSubmit {
    background-color: #02353f !important;
    padding: 10px;
    font-size: 25px !important;
    font-weight: 1000 !important;
    font-family: FrizQuadrataStdMedium !important;
}

.loginErrorMessage {
    padding-top: 10px;
    font-family: FrizQuadrataStdMedium !important;
    color: red !important;
    font-size: 25px !important;
    font-weight: 1000 !important;
}

.LoginbtnsLogin {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.LoginBtnLogin {
    margin: 10px !important;
    background-color: #02353f !important;
    padding: 10px;
    font-size: 25px !important;
    font-weight: 1000 !important;
    font-family: FrizQuadrataStdMedium !important;
}