body {
  margin: 0;
  font-family: FrizQuadrataStdMedium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #046072;
}

code {
  font-family: FrizQuadrataStdMedium;
}

@font-face {
  font-family: FrizQuadrataStdMedium;
  src: url("fonts/FrizQuadrataStdMedium.otf") format("opentype");
}